language: scala

jdk: oraclejdk8

scala:
  - 2.12.8

sudo: false

stages:
  - name: compile
  - name: test
  - name: release
    if: (branch = master AND type = push) OR (tag IS present)

jobs:
  include:
    - stage: compile
      script: sbt scalafmtCheck
    - stage: compile
      script: sbt compile
    - stage: test
      script: sbt coverage test coverageReport && bash <(curl -s https://codecov.io/bash)
    - stage: release
      script: sbt ci-release

cache:
  directories:
    - $HOME/.sbt/1.0/dependency
    - $HOME/.sbt/boot/scala*
    - $HOME/.sbt/launchers
    - $HOME/.ivy2/cache
    - $HOME/.coursier

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
  - rm -rf $HOME/.ivy2/local

before_install:
  - git fetch --tags