@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.mainContainer .index{
  border-top: 0;
  margin: 0 auto;
  max-width: 700px;
  padding: 0 10px;
  text-align:center;
}

.projectTitleLogo {
  width: 70px;
  padding: 0 10px;
  vertical-align: middle;
}

.nav-footer .separator {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-top: 0;
}

